# name: SonarCloud Analysis

# on:
#   push:
#     branches:
#       - main
#   pull_request:

# jobs:
#   sonar:
#     runs-on: ubuntu-latest

#     steps:
#       - uses: actions/checkout@v4
#         with:
#           fetch-depth: 0

#       - name: SonarCloud Scan
#         uses: SonarSource/sonarcloud-github-action@v2
#         env:
#           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#         with:
#           args: >
#             -Dsonar.projectKey=KRishika01_SE_MP1
#             -Dsonar.organization=krishika01


name: SonarCloud Analysis

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build and analyze with Maven
        run: |
          mvn -B clean verify sonar:sonar \
            -Dsonar.projectKey=KRishika01_SE_MP1 \
            -Dsonar.organization=krishika01 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }}

